/* Source Sans Pro font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* WITC Font-Face */
@font-face {
    font-family: "Wolf in the City";
    src: url("../font/witc.ttf") format("truetype"),
         url("../font/witc.otf") format("opentype");
}

/* Basic CSS Properties */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5vh;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* Inherit color for links */
a {
    color: inherit;
}

/* Page element */
.page {
    position:relative;
    width: 100%;
    height: 100vh;
}

/* Page classes */
.home {
    background-color: #f6e58d;
    color: #707070;
}

.about {
    color: white;
    background-color: #686de0;
}

.projects {
    color: white;
    background-color: #9b59b6;
}

.contact {
    color: white;
    background-color: #f8a5c2;
}

/* Fully centered content */
.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* H1 Title "sysLambda" */
h1 {
    display: inline;
    font-family: "Wolf in the City";
    font-weight: 500;
    font-size: 18vh;
}

.thanks {
    font-style: italic;
    font-weight: 400;
    font-size: 2.25vh;
}

/* Social icons */
.social-container {
    font-family: "Font Awesome 5 Brands";
    font-size: 4vh;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

.icon {
    cursor: pointer;
    margin-left: 1.5vh;
}

.icon::before {
    display: inline-block;
}

.twitter::before {
    content: "\f099";
}

.github::before {
    content: "\f113";
}

.discord::before {
    content: "\f392";
}